:root {
  // --fontCursive: "Happy Monkey";
  // --fontSans: "poppins";
  --fontSerif: "Roboto Serif", serif;
  --fontSans: "Signika", sans-serif;
  --padding: clamp(2rem, 5vw, 4rem);
  --fontCursive: "Rye", cursive;
}
