.about {
  width: 100%;
  min-height: 100vh;
  // background: #fd0984;
  position: relative;
  overflow: hidden;

  .transition {
    width: 100%;
    height: 100vh;
    background: hsl(266, 98%, 47%);
  }
}
